/* primary color */
/*
black: #151515 /30%/
brown: #A68B54 /10%/
gold: #ffd700  /10%/
milk-white: #f2f4cd /60%/
*/


/* DEFAULT STYLING FOR THE PAGE */


:root{
    background-color: #FFFFFF !important;
    color:  #FFFFFF;
    font-family: Candara light;
 
}

a{
    text-decoration: none !important;
    color:  #FFFFFF;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color-gold{
    color: #ffd700;
}

:hover{
    transition: all .5s ease 0s;
}




/* HEADER */

.header{
    background-color: #866e3e;
    min-height: 10vh !important;
    justify-content: space-around;
}

#close-hamburger, #hamburger{
    display: none;
    height: 5vh;
}



/* LOGO */

.logo{
    margin: .5rem 0rem;
}

.logo img{
    width: 9vh;
    height: 9vh;
}


/* NAVIAGTION */

li{
    list-style-type: none;
    padding: .5rem 4rem;
}

li a{
    color:  #FFFFFF;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: calibri;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    padding: .5rem 0rem;
}


header ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition:all  0.5s ;
    
}

header ul li a:hover::after{
    width: 100%;
}

.header-link-active{
    content: '';
    border-top: 3px solid #FFFFFF;
}





/* JOIN US */

.live{
    background-color:  #FFFFFF;
    padding: .5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #151515;
}

.live:hover{
    background-color: #f2f4cdc7;
}






/* FIXED SOCIAL */

.fixed-socials{
    height:27vh;
    min-width: 5vw;
    position: fixed;
    top:60vh ;
    left:0;
    background-color: #A68B54;
    flex-direction: column;
    gap: 1rem;
    z-index: 9;
}


.youtube{
    width: 2vw;
}




/* HERO SECTION */
#hero {
    height: 100vh !important;
}

.fluid-img {
    width: 110% !important;
    height: 100vh !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
    /* animation: scrollBg 3s linear forwards; */
}

.img-carousel-1 {
    background-image: url("../images/IMG-20220608-WA0018.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear forwards;
}

@keyframes scrollBack {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-330px);
    }
}

.img-carousel-2 {
    background-image: url("../images/IMG_0198.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollforward 30s linear infinite forwards;
}

.img-carousel-3 {
    background-image: url("../images/IMG_0200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear infinite forwards;
}

.img-carousel-4 {
    background-image: url("../images/IMG_1212.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollforward 30s linear infinite forwards;
}

.img-carousel-5 {
    background-image: url("../images/IMG_1225.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear infinite forwards;
}


@keyframes scrollforward {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(330px);
    }
}
  

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
}
.blur-10 {
    backdrop-filter: blur(0.1rem);
}
.vh-75 {
    min-height: 75vh;
}
.vh-70 {
    min-height: 70vh;
}
.vh-50 {
    min-height: 50vh;
}
.vh-100 {
    min-height: 100vh;
}
.bg-grey {
    background-color: #9e9da3;
}
.bg-orange {
    background-color: #f89406;
    background-color: #A68B54;
}


.btn-primary {
    --bs-btn-bg: #A68B54 !important;
    --bs-btn-border-color:#A68B54 !important;
    --bs-btn-disabled-bg: #A68B54 !important;
    --bs-btn-disabled-border-color: #A68B54 !important;
}

.btn-primary:hover {
    transition: all .5s ease-in-out 0s !important;
    background-color: transparent!important;
    border: 1px solid #ffff !important;
    
}

.btn-transparent {
    background-color: transparent!important;
    color: #fff !important;
    border: 1px solid #ffff !important;
}

.btn-transparent:hover {
    transition: all .5s ease-in-out 0s !important;
    background-color: #A68B54!important;
    border: 1px solid #A68B54 !important;
    
}


/* .btn-secondary {
    --bs-btn-bg: #f2f4cd !important;
    --bs-btn-border-color: #f2f4cd !important; 
    --bs-btn-disabled-bg: #f2f4cd !important;
    --bs-btn-disabled-border-color: #f2f4cd !important;
} */

/* .btn-outline-primary {
    --bs-btn-color: #004931;
    --bs-btn-border-color: #004931;
    --bs-btn-hover-bg: #004931;
    --bs-btn-hover-border-color: #004931;
    --bs-btn-active-bg: #004931;
    --bs-btn-active-border-color: #004931;
    --bs-btn-disabled-color: #004931;
    --bs-btn-disabled-border-color: #004931;
} */

.fs-7 {
    font-size: 0.9rem;
}
.fs-8 {
    font-size: 0.8rem;
}
.fs-9 {
    font-size: 0.7rem;
}
.fs-10 {
    font-size: 0.6rem;
}
.p-0 {
    padding: 0 !important;
}
.w-33 {
    max-width: 250px !important;
}
.text-justify {
    text-align: justify;
}
.text-green {
    color: #004931;
}
  
.dropdown-item:hover,
.dropdown-item:focus {
    color: #004931;
    background-color: var(--bs-dropdown-link-hover-bg);
}
  
.bg-green {
    background-color: #004931;
}
.bg-green-25 {
    background-color: hwb(161 0% 72% / 0.6);
}
  
.index-2 {
    z-index: 2;
}







/* SERVICES */

.services{
    min-height: 60vh;
    width: 100%;
    margin-bottom: 5rem;
    background-color:  #FFFFFF;

}

.service-schedule-head{
    width: 100%;
    height: 35vh;
    flex-direction: column;
    margin-top: 5rem;

}

.service-schedule-head img{
    width: 15vh;
    height: 15vh;
}

.service-schedule-header{
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: #151515;
    padding-top: 1rem;

}

.service-schedule-p{
    color: #151515;
    font-weight: 600;
    margin: 0;
    font-size: 1.1rem;
}


/* SERVICE SCHEDULE CONTENT */

.service-schedule{
    width: 100%;
    height: 20vh;
    color: #866e3e;
    flex-direction: column;
    display: grid;
    margin: 2rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;

}

.span-text-size{
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
}

.span-text-size-p{
    font-size: 1.3rem;
    font-family: calibri;
    padding-top: .5rem;
    margin: 0;
}

.span-one{
    grid-column: span 1;
    border-right: 3px solid #A68B54;
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.friday-schedule{
    border: 0;
}



/* PASTORS QUOTE */
.pastors-quote{
    width: 100%;
    height: 120vh;
    background-color:#866e3e;
}



.quotes-head{
    width: 100%;
    height: 15%;
}

.quotes-h{
    color: #f2f4cdee;
    margin: 0;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 1rem 3rem;
}

.quotes-wrapper{
    width: 98%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 0rem 1rem;
    
}

.quote-container{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
    /* background-color: green; */
    z-index: 0;
}

.quote-container img{
    width: 85%;
    height: 44vh;
    box-shadow: 2px 3px 5px 3px  #f2f4cd ;

}

.quote-container img:hover{
    box-shadow: 2px 2px 10px 5px #f2f4cd;
    transition: all .3s ease-in 0s;

}






/* PASTOR'S MESSAGE */
.pastors-messages{
    width: 100%;
    height: 50vh;
    flex-direction: column;
    margin: 3rem 0rem;
}

.pastors-messages-h{
    color: #866e3e;
    font-size: 2.5rem;
}

.pastor-message-wrapper{
    width: 90%;
    height: 45vh;
    background-color: #866e3e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: .5rem;
}

.sermons{
    grid-column: span 1;
    background-color: #FFFFFF;
    margin: 1rem 1rem;
    flex-direction: column;
    align-items: center ;
    padding-left: 2rem;
    font-family: calibri;
    color: #866e3e;
    border-radius: 15px;
}

.sermons p{
    font-weight: bold;
}

.message-download-svg{
    width: fit-content;
    height: 5vh;
    color: #866e3e;
}




/* /FOOTER/ */

.footer{
    background-color: #866e3e;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: #f2f4cd !important;
}

.footer-logo{
    width: 5%;
}

.footer-text{
    font-family: calibri;
    font-weight: 400;
}

.footer-text > a{
    color: #f2f4cdb6;
}







/* ABOUT PAGE STYLING*/

.about{
    width: 100%;
    height: 100vh;
}








/* The News and Events page styling */


.news-events{
    width: 100%;
    height: 100vh;
}




/* tablet view */
@media screen and (max-width: 900px) {

    .header{
        justify-content: space-around;
    }

    .header-link-active{
        border-bottom: 3px solid #FFFFFF;
    }



    header ul li a::after{
        display: none;
        
    }

    #navigations{
        display:none ;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        width: 20%;
        background-color: #A68B54;
        align-items: flex-start;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        /* border-top-right-radius: 80px; */
        margin: 0rem;
        padding: 0rem 1rem;
        z-index: 2;
    }


    #hamburger{
        display: block;
        color: #f2f4cd !important;
        border: 1px solid #f2f4cd;
        border-radius: 5px;
    }

    #close-hamburger{
        display: block;
        margin-top: .5rem;
        border: 1px solid #f2f4cd;
        color: #f2f4cd !important;
    }

    .fixed-socials{
        width: 10vw;
    }

    .youtube{
        width: 4vw;
    }
    
    

    li{
        list-style-type: none;
        padding: 1.2rem 0rem;
    }
    
    li a{
        padding: .5rem 0rem;
    
    }


    /* SERVICES */

    .services{
        height: 90vh;
    }
    
    .service-schedule-head{
        margin-top: 4rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 3.5rem;
    
    }
    
    .service-schedule-p{
        font-size: 1rem;
    }

    .service-schedule{
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
    
    }

    .span-text-size{
        font-size: 2rem;
    }
    
    .span-text-size-p{
        font-size: 1.1rem;
    }
    

    .wednesday-schedule{
        border: 0;
    }


        /* PASTORS QUOTE */
    .pastors-quote{
        height: 160vh;
    }

    .quotes-head{
        text-align: center;
        height: 10%;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
        margin: 0rem 0rem;
        
    }


        /* PASTOR'S MESSAGE */
    .pastors-messages{
        height: 130vh;
        width: 100%;
  
    }


    .pastor-message-wrapper{
        height: 115vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: .5rem;
    }

    .sermons{
        grid-column: span 1;
        align-items: flex-start;
    }

    .sermons-three{
        grid-column: span 2;
        align-items: center;
    }


    /*FOOTER*/
    .footer-logo{
        width: 10%;
    }

    .footer-text{
        word-spacing: 3px;

    }

    
}


/* Mobile view */
@media screen and (max-width: 500px) {

    /*NAVIGATIONS */


    #navigations{
        width: 30%;
    }

    li a{
        font-size: 1.1rem;
    }

    .fluid-img {
        width: 130% !important;
    }

    .donate{
        background-color: #f2f4cd;
        padding: .5rem .7rem;
        font-weight: 600;
        font-size: 1rem;
        color: #151515;
    }
    
    .donate:hover{
        background-color: #f2f4cdc7;
    }

    .fixed-socials{
        width: 15vw;
    }

    .youtube{
        width: 6vw;
    }
    
    

    /* SERVICES */


    .service-schedule-head{
        margin-top: 2rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 2.5rem;
    
    }
    
    .service-schedule-p{
        color: #866e3e;
        font-weight: 600;
        margin: 0;
        font-size: .7rem;
    }

    .services{
        height: 135vh;
    }

    .service-schedule{
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1rem;

    }

    .sunday-schedule, .thursday-schedule, .wednesday-schedule{
        border-right: 0;
        border-bottom: 2px solid #866e3e;
    }

    .span-text-size{
        font-size: 2.3rem;
        font-weight: bolder;
        margin: 0;
    }
    
    .span-text-size-p{
        font-size: 1.3rem;
        font-family: calibri;
        padding-top: .5rem;
        margin: 0;
    }

    /* PASTORS QUOTE */
    .pastors-quote{
        height: 210vh;
    }

    .quotes-head{
        height: 5%;
        text-align: center;
    }

    .quotes-h{
        margin: 0;
        font-size: 2rem;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1.5rem;
        margin: 0rem 0rem;
        
    }

    .quote-container img{
        width: 70%;
        height: 30vh;

    }

     /*pastor's message */

    .pastor-message-wrapper{
        height: 115vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
    }

    .pastors-messages-h{
        padding-top: .5rem;
        font-size: 2rem;
    }

    .sermons-three{
        grid-column: span 1;
        align-items: flex-start;
    }

    .footer{
    
    }

}
