/* primary color */
/*
black: #151515 /30%/
brown: #A68B54 /10%/
gold: #ffd700  /10%/
milk-white: #f2f4cd /60%/
*/


/* DEFAULT STYLING FOR THE PAGE */


:root{
    background-color: #FFFFFF !important;
    color:  #FFFFFF;
    font-family: "cormorant";
 
}

a{
    text-decoration: none !important;
    color:  #FFFFFF;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color-gold{
    color: #ffd700;
}

:hover{
    transition: all .5s ease 0s;
}




/* HEADER */

.header{
    background-color: #866e3e;
    min-height: 10vh !important;
    justify-content: space-around;
}

#close-hamburger, #hamburger{
    display: none;
    height: 5vh;
}



/* LOGO */

.logo{
    margin: .5rem 0rem;
}

.logo img{
    width: 9vh;
    height: 9vh;
}


/* NAVIAGTION */

li{
    list-style-type: none;
    padding: .5rem 4rem;
}

li a{
    color:  #FFFFFF;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: calibri;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    padding: .5rem 0rem;
}


header ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition:all  0.5s ;
    
}

header ul li a:hover::after{
    width: 100%;
}

.header-link-active{
    content: '';
    border-top: 3px solid #FFFFFF;
    color: #473614;
}





/* JOIN US */

.live{
    background-color:  #FFFFFF;
    padding: .5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #151515;
}

.live:hover{
    background-color: #15151550;
    color: #FFFFFF;
}


.scroll-social:hover{
    background-color: #15151550;
}




/* FIXED SOCIAL */

.fixed-socials{
    height:27vh;
    min-width: 5vw;
    position: fixed;
    top:60vh ;
    left:0;
    background-color: #A68B54;
    flex-direction: column;
    gap: 1rem;
    z-index: 9;
}


.youtube{
    width: 2vw;
}




/* HERO SECTION */
#hero {
    height: 100vh !important;
}

.fluid-img {
    width: 110% !important;
    height: 100vh !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
    /* animation: scrollBg 3s linear forwards; */
}

.img-carousel-1 {
    background-image: url("../images/IMG_8354.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear forwards;
}

@keyframes scrollBack {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-330px);
    }
}

.img-carousel-2 {
    background-image: url("../images/IMG_0198.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollforward 30s linear infinite forwards;
}

.img-carousel-3 {
    background-image: url("../images/IMG_0200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear infinite forwards;
}

.img-carousel-4 {
    background-image: url("../images/IMG_1212.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollforward 30s linear infinite forwards;
}

.img-carousel-5 {
    background-image: url("../images/IMG_1225.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
    background-attachment: fixed;
    animation: scrollBack 30s linear infinite forwards;
}


@keyframes scrollforward {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(330px);
    }
}
  

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
}
.blur-10 {
    backdrop-filter: blur(0.1rem);
}
.vh-75 {
    min-height: 75vh;
}
.vh-70 {
    min-height: 70vh;
}
.vh-50 {
    min-height: 50vh;
}
.vh-100 {
    min-height: 100vh;
}
.bg-grey {
    background-color: #9e9da3;
}
.bg-orange {
    background-color: #f89406;
    background-color: #A68B54;
}


.btn-primary {
    --bs-btn-bg: #A68B54 !important;
    --bs-btn-border-color:#A68B54 !important;
    --bs-btn-disabled-bg: #A68B54 !important;
    --bs-btn-disabled-border-color: #A68B54 !important;
}

.btn-primary:hover {
    transition: all .5s ease-in-out 0s !important;
    background-color: transparent!important;
    border: 1px solid #ffff !important;
    
}

.btn-transparent {
    background-color: transparent!important;
    color: #fff !important;
    border: 1px solid #ffff !important;
}

.btn-transparent:hover {
    transition: all .5s ease-in-out 0s !important;
    background-color: #A68B54!important;
    border: 1px solid #A68B54 !important;
    
}


.fs-7 {
    font-size: 0.9rem;
}
.fs-8 {
    font-size: 0.8rem;
}
.fs-9 {
    font-size: 0.7rem;
}
.fs-10 {
    font-size: 0.6rem;
}
.p-0 {
    padding: 0 !important;
}
.w-33 {
    max-width: 250px !important;
}
.text-justify {
    text-align: justify;
}
.text-green {
    color: #004931;
}
  
.dropdown-item:hover,
.dropdown-item:focus {
    color: #004931;
    background-color: var(--bs-dropdown-link-hover-bg);
}
  
.bg-green {
    background-color: #004931;
}
.bg-green-25 {
    background-color: hwb(161 0% 72% / 0.6);
}

.bg-brown{
    background-color: #866e3e;
}

.bg-brown-light{
    background-color: #a68b546c;
}  
.index-2 {
    z-index: 2;
}

.t-align{
    text-align: center;
}

.text-font-c{
    font-family: Candara light;
}







/* SERVICES */

.services{
    min-height: 60vh;
    width: 100%;
    margin-bottom: 5rem;
    background-color:  #FFFFFF;

}

.service-schedule-head{
    width: 100%;
    height: 35vh;
    flex-direction: column;
    margin-top: 5rem;

}

.service-schedule-head img{
    width: 15vh;
    height: 15vh;
}

.service-schedule-header{
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: #151515;
    padding-top: 1rem;
    font-family: "cormorant";

}

.service-schedule-p{
    color: #151515;
    font-weight: 600;
    margin: 0;
    font-size: 1.1rem;
}


/* SERVICE SCHEDULE CONTENT */

.service-schedule{
    width: 100%;
    height: 20vh;
    color: #866e3e;
    flex-direction: column;
    display: grid;
    margin: 2rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;

}

.span-text-size{
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
    font-family: "cormorant";
    
}

.span-text-size-p{
    font-size: 1.3rem;
    font-family: calibri;
    padding-top: .5rem;
    margin: 0;
    
}

.span-one{
    grid-column: span 1;
    border-right: 3px solid #A68B54;
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.friday-schedule{
    border: 0;
}







/* PASTORS QUOTE */
.pastors-quote{
    width: 100%;
    height: 120vh;
    background-color:#866e3e;
}

.quotes-head{
    width: 100%;
    height: 15%;
}

.quotes-h{
    color: #FFFFFF;
    margin: 0;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 1rem 3rem;
    font-family: "cormorant";
}

.quotes-wrapper{
    width: 98%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 0rem 1rem;
    
}

.quote-container{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
    /* background-color: green; */
    z-index: 0;
}

.quote-container img{
    width: 85%;
    height: 44vh;
    box-shadow: 2px 3px 5px 3px  #f2f4cd ;

}

.quote-container img:hover{
    box-shadow: 2px 2px 10px 5px #f2f4cd;
    transition: all .3s ease-in 0s;

}






/* PASTOR'S MESSAGE */
.pastors-messages{
    width: 100%;
    height: 100vh;
    margin: 3rem 3rem;
    background-color: #FFFFFF;
}


.pastor-message-wrapper{
    width: 85%;
    height: 88vh;
}


.pastor-messages-T{
    width: 35%;
    height: inherit;
    background-color: #FFFFFF;
}

.pastors-messages-h{
    font-size: 3.5rem;
    padding-left: 1rem;
    font-family: "cormorant";
}

.svg-play{
    width: 10vw;

}

.sermons{
    width: 65%;
    height: inherit;
}

.sermon-mgs{
    height: 11vh;
    width:100%;
    background-color: #FFFFFF;
    border-top: 1px solid #15151534;
}

.sermon-mgs-h{
    font-size: large;
    padding: 0.2rem 0rem 0rem 1rem ;
}

.sermon-mgs-p{
    font-size: medium;
    padding: 0rem 0rem 0rem 1rem;
    line-height: 1.5px;
}

.message-download-svg{
    width: 1.2vw;
    color: #151515;
    margin: 0rem 1rem;

}

.sermon-eight{
    border-bottom: 1px solid #15151534;
}

/* THE MEDIA SECTION */


.media{
    /* position: relative; */
    min-height: 70vh; 
    margin-top: 5vh; 
    width: 100%;
    background-color: #151515;
    /* border: 1px solid red; */

}

.media-h{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "cormorant";
}

.hover1s {
    transform: scale(.9);
    transition: .5s;
}

.hover1s:hover {
    transform: scale(1.05);
}

.media-h h2{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    color: #866e3e;
}






/* /FOOTER/ */

.footer{
    background-color: #866e3e;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: #f2f4cd !important;
}

.footer-logo{
    width: 5%;
}

.footer-text{
    font-family: calibri;
    font-weight: 400;
}

.footer-text > a{
    color: #f2f4cdb6;
}







/* ABOUT PAGE STYLING*/

#about{
    width: 100%;
    min-height: 100vh;
}

.about-hero{
    height: 40vh;
    width: 100%;
    background-image:  url("../images/IMG_1212.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* align-items: flex-end; */
}

.about-header{
    color: #f2f4cd;
    font-family:"cormorant";
    font-size:2.5rem;
}

.about-words {
    margin: 2rem 0rem;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
}

.who-we-are,.mission-vision-statment{
    width: 50%;
}

.who-we-are-h{
    font-size: 1.8rem;
}

.who-we-are-p{
    text-align: left;
    font-size: 1.2rem;
    color: #151515cb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* The News and Events page styling */


#events{
    width: 100%;
    /* min-height: 100vh; */
}

.events-hero{
    height: 10vh;
    width: 100%;
    background-color:  #151515;;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    /* align-items: flex-end; */
}

.events-header{
    color: #f2f4cd;
    font-family:Calibri;
    text-transform: uppercase;
    font-size:3rem;
    padding-top: 2rem;
}

.events-wrapper{
    height: 150vh;
    width: 100%;
    flex-direction: column;
    background-color: #151515;
}

.events-c{
    width: 80%;
    height: 40vh;
    background-color: #FFFFFF;
    margin: 1rem 0rem;
}

.event-img{
    width: 30%;
    height: inherit;
}



.img-fit{
    width: 100%;
    height: 100%;
}

/* .event-img-three{
    background-image:  url("../images/8.jpg");

} */

.event-name{
    width: 50%;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 2rem;
}

.event-name-t{
    font-family: calibri;
}

.event-name-t > h1{
    text-transform: uppercase;
}

.event-name > a{
    color: #A68B54;
}

.event-name > a:hover{
    color: #FFFFFF;
}

.btn-event {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color:#A68B54 !important;
    --bs-btn-disabled-bg: #A68B54 !important;
    --bs-btn-disabled-border-color: #A68B54 !important;
    color: #A68B54;
}

.btn-event:hover {
    transition: all .5s ease-in-out 0s !important;
    background-color: #A68B54!important;
    color: #FFFFFF;
    border: 1px solid #A68B54 !important;
    
}

.event-date{
    width: 20%;
    height: inherit;
    border-left: 1px solid #473614;
}

.event-date-d{
    height: 70%;
    background-color: white;
    flex-direction: column;
    
}

.event-date-d > h1{
    font-size: 5rem;
    line-height: 3rem;
    color: #A68B54;
}

.event-date-d > h5{
    color: #A68B54;
}

.event-date-svg-wrapper{
    height: 30%;
    margin: 0rem .5rem;
}

.event-date-svg-one, .event-date-svg-two{
    justify-content: flex-start;
    
}

.event-date-p{
    font-size: 1.2rem;
    font-family: calibri;
    padding-left: .5rem;
}

.event-svg{
    width: 1.5vw;
    color: #151515;
}




/* tablet view */
@media screen and (max-width: 900px) {

    .header{
        justify-content: space-around;
    }


    header ul li a::after{
        display: none;
        
    }

    #navigations{
        display:none ;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        width: 20%;
        background-color: #A68B54;
        align-items: flex-start;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        /* border-top-right-radius: 80px; */
        margin: 0rem;
        padding: 0rem 1rem;
        z-index: 2;
    }


    #hamburger{
        display: block;
        color: #f2f4cd !important;
        border: 1px solid #f2f4cd;
        border-radius: 5px;
    }

    #close-hamburger{
        display: block;
        margin-top: .5rem;
        border: 1px solid #f2f4cd;
        color: #f2f4cd !important;
    }

    .fixed-socials{
        width: 10vw;
    }

    .youtube{
        width: 4vw;
    }
    
    

    li{
        list-style-type: none;
        padding: 1.2rem 0rem;
    }
    
    li a{
        padding: .5rem 0rem;
    
    }


    /* SERVICES */

    .services{
        height: 90vh;
    }
    
    .service-schedule-head{
        margin-top: 4rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 3.5rem;
    
    }
    
    .service-schedule-p{
        font-size: 1rem;
    }

    .service-schedule{
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
    
    }

    .span-text-size{
        font-size: 2rem;
    }
    
    .span-text-size-p{
        font-size: 1.1rem;
    }
    

    .wednesday-schedule{
        border: 0;
    }


        /* PASTORS QUOTE */
    .pastors-quote{
        height: 160vh;
    }

    .quotes-head{
        text-align: center;
        height: 10%;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
        margin: 0rem 0rem;
        
    }


        /* PASTOR'S MESSAGE */

    .pastors-messages{
        height: 110vh;
        margin: 3rem 0rem;
    }

    .pastor-message-wrapper{
        width: 95%;
        height: 102vh;
        flex-direction: column;
    }

    .pastor-messages-T{
        width: 80%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    
    .sermons{
        width: 90%;
        height: 90%;
    }

    .message-download-svg{
        width: 2.5vw;
        color: #151515;
        margin: 0rem 0rem .5rem 1rem;
    
    }


    /*FOOTER*/
    .footer-logo{
        width: 10%;
    }

    .footer-text{
        word-spacing: 3px;

    }


    /* ABOUT PAGE STYLING*/

    .about-hero{
        height: 30vh;
    }

    #about{
        min-height: 90vh;
    }

    .about-header{
        font-size:2rem;
    }

    .who-we-are,.mission-vision-statment{
        width: 90%;
    }

    .who-we-are-h{
        font-size: 1.5rem;
    }
    
    .who-we-are-p{
        font-size: 1rem;
    }



    /* Events section */

    .events-c{
        width: 90%;
    }


    .event-img{
        width: 40%;
    }


    .event-name{
        width: 30%;

    }
    
    .event-date{
        width: 40%;
    }

    .event-name-t > p{
        display: none;
    }

    
    .event-date-p{
        font-size: 1rem;
    }

    .event-svg{
        width: 3vw;
    }
    
}


/* Mobile view */
@media screen and (max-width: 500px) {

    /*NAVIGATIONS */


    #navigations{
        width: 30%;
    }

    li a{
        font-size: 1.1rem;
    }

    .fluid-img {
        width: 130% !important;
    }

    .donate{
        background-color: #f2f4cd;
        padding: .5rem .7rem;
        font-weight: 600;
        font-size: 1rem;
        color: #151515;
    }
    
    .donate:hover{
        background-color: #f2f4cdc7;
    }

    .fixed-socials{
        width: 15vw;
    }

    .youtube{
        width: 6vw;
    }
    
    

    /* SERVICES */


    .service-schedule-head{
        margin-top: 2rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 2.5rem;
    
    }
    
    .service-schedule-p{
        color: #866e3e;
        font-weight: 600;
        margin: 0;
        font-size: .7rem;
    }

    .services{
        height: 135vh;
    }

    .service-schedule{
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1rem;

    }

    .sunday-schedule, .thursday-schedule, .wednesday-schedule{
        border-right: 0;
        border-bottom: 2px solid #866e3e;
    }

    .span-text-size{
        font-size: 2.3rem;
        font-weight: bolder;
        margin: 0;
    }
    
    .span-text-size-p{
        font-size: 1.3rem;
        font-family: calibri;
        padding-top: .5rem;
        margin: 0;
    }

    /* PASTORS QUOTE */
    .pastors-quote{
        height: 210vh;
    }

    .quotes-head{
        height: 5%;
        text-align: center;
    }

    .quotes-h{
        margin: 0;
        font-size: 2rem;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1.5rem;
        margin: 0rem 0rem;
        
    }

    .quote-container img{
        width: 70%;
        height: 30vh;

    }

    /*pastor's message */

    .message-download-svg{
        width: 4vw;
    
    }



    /* ABOUT PAGE STYLING*/

    .about-hero{
        height: 15vh;
    }

    .about-header{
        font-size:1rem;
    }

    #about{
        min-height: 7he5vh;
    }

    .who-we-are,.mission-vision-statment{
        width: 90%;
    }

    .who-we-are-h{
        font-size: 1.5rem;
    }
    
    .who-we-are-p{
        font-size: .8rem;
    }

    /* Events section */

    .events-c{
        width: 90%;
    }


    .event-img{
        width: 5%;
        
    }

    .event-img-one{
        background-color: rgba(133, 8, 133, 0.726);
    }

    .event-img-two{
        background-color: rgb(182, 148, 104);
    }

    .event-img-three{
        background-color:rgb(35, 35, 196);
    }

    .img-fit{
        display: none;
    }

    .event-name{
        width: 45%;

    }
    
    .event-date{
        width: 50%;
    }

    .event-date-p{
        font-size: 1rem;
    }

    .event-svg{
        width: 5vw;
    }
    


}

@media screen and (max-width: 375px) {


    .event-name{
        width: 50%;

    }
    
    .event-date{
        width: 50%;
    }

    .event-date-p{
        font-size: .7rem;
    }

    .event-svg{
        width: 5vw;
    }
    
    .sermon-mgs-h{
        font-size: .9rem;
    }
    
    .sermon-mgs-p{
        font-size: .7rem;

    }

    .message-download-svg{
        width: 5vw;
        color: #151515;
        margin: 0rem 0rem .2rem 1rem;
    
    }
}


@media screen and (max-width: 325px) {
    #about{
        min-height: 90vh;
    }

    .event-name{
        width: 50%;

    }
    
    .event-date{
        width: 50%;
    }

    .event-date-p{
        font-size: .6rem;
    }

    .event-svg{
        width: 5vw;
    }
    
}