/* primary color */
/*
black: #151515 /30%/
brown: #A68B54 /10%/
gold: #ffd700  /10%/
milk-white: #f2f4cd /60%/
*/


/* DEFAULT STYLING FOR THE PAGE */


:root{
    background-color: #f2f4cd;
    color: #f2f4cd;
    font-family: Candara light;
 
}

a{
    text-decoration: none;
    color: #f2f4cd;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color-gold{
    color: #ffd700;
}

:hover{
    transition: all .5s ease 0s;
}




/* HEADER */

.header{
    background-color: #A68B54;
    min-height: 10vh;
    justify-content: space-around;
}

#close-hamburger, #hamburger{
    display: none;
    height: 5vh;
}



/* LOGO */

.logo{
    margin: .5rem 0rem;
}

.logo img{
    width: 9vh;
    height: 9vh;
}





/* NAVIAGTION */

li{
    list-style-type: none;
    padding: .5rem 4rem;
}

li a{
    color: #f2f4cd;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: calibri;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    padding: .5rem 0rem;
}


header ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color:#f2f4cd;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition:all  0.5s ;
    
}

header ul li a:hover::after{
    width: 100%;
}






/* JOIN US */

.donate{
    background-color: #f2f4cd;
    padding: .5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #151515;
}

.donate:hover{
    background-color: #f2f4cdc7;
}






/* FIXED SOCIAL */

.fixed-socials{
    height:25vh;
    min-width: 5vw;
    position: fixed;
    top:60vh ;
    left:0;
    background-color: #A68B54;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}







/* HERO SECTION */

.hero{
    min-height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: linear-gradient(to right, #ffffff00, #a68b5434,#A68B54 ,  #A68B54  ) ,url('../images/IMG-20230509-WA0002.jpg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

}

.hero-header{
    font-size: 4rem;
    line-height: 0rem;
    font-weight: 900;
    text-transform: capitalize;
    font-family: calibri;
    color:#f2f4cd;

}

.hero-layer-text{
    font-size: 2rem;
    line-height: 0rem;
    font-family: calibri;
    text-transform: capitalize;
    color: #151515;
    align-self: center;
}

.hero-layer-text-p{
    color: rgb(105, 80, 16);
    
}






/* SERVICES */

.services{
    min-height: 50vh;
    width: 100%;
}

.service-schedule-head{
    width: 100%;
    height: 35vh;
    flex-direction: column;
    margin-top: 5rem;

}

.service-schedule-head img{
    width: 15vh;
    height: 15vh;
}

.service-schedule-header{
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: #151515;
    padding-top: 1rem;

}

.service-schedule-p{
    color: #151515;
    font-weight: 600;
    margin: 0;
    font-size: 1.1rem;
}


/* SERVICE SCHEDULE CONTENT */

.service-schedule{
    width: 100%;
    height: 15vh;
    color: #866e3e;
    
    flex-direction: column;
    display: grid;
    margin: 2rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5rem;

}

.span-text-size{
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
}

.span-text-size-p{
    font-size: 1.5rem;
    font-family: calibri;
    padding-top: .5rem;
    margin: 0;
}

.span-one{
    grid-column: span 1;
    border-right: 3px solid #A68B54;
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.friday-schedule{
    border: 0;
}



/* PASTORS QUOTE */
.pastors-quote{
    width: 100%;
    height: 110vh;
    border-top: 3px solid #A68B54;
}



.quotes-head{
    width: 100%;
    height: 15%;
}

.quotes-h{
    color: #866e3e;
    margin: 0;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 1rem 3rem;
}

.quotes-wrapper{
    width: 98%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 0rem 1rem;
    
}

.quote-container{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
    /* background-color: green; */
    z-index: 0;
}

.quote-container img{
    width: 85%;
    height: 44vh;
    box-shadow: 2px 2px 10px 5px #151515ea;

}

.quote-container img:hover{
    box-shadow: 2px 2px 10px 5px #151515b4;
    transition: all .2s ease-in 0s;

}


@media screen and (max-width: 900px) {

    .header{
        justify-content: space-around;
    }

    #navigations{
        display:none ;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        width: 20%;
        background-color: #A68B54;
        align-items: flex-start;
        border-right: 3px solid #f2f4cd;
        border-bottom: 3px solid #f2f4cd;
        margin: 0rem;
        padding: 0rem 1rem;
        /* transition: all .5s ease-in 0s; */
    }


    #hamburger{
        display: block;
    }

    #close-hamburger{
        display: block;
        margin-top: .5rem;
    }

    .fixed-socials{
        width: 10vw;
    }

    li{
        list-style-type: none;
        padding: 1.2rem 0rem;
    }
    
    li a{
        padding: .5rem 0rem;
    }


    /* HERO SECTION */
    .hero{
        min-height: 90vh;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background-image:url('../images/IMG-20220608-WA0018.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    
    }

    /* SERVICES */

    .services{
        height: 90vh;
    }
    
    .service-schedule-head{
        margin-top: 4rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 3.5rem;
    
    }
    
    .service-schedule-p{
        font-size: 1rem;
    }

    .service-schedule{
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
    
    }

    .span-text-size{
        font-size: 2rem;
    }
    
    .span-text-size-p{
        font-size: 1.1rem;
    }
    

    .wednesday-schedule{
        border: 0;
    }


        /* PASTORS QUOTE */
    .pastors-quote{
        height: 140vh;
    }

    .quotes-head{
        text-align: center;
        height: 10%;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
        margin: 0rem 0rem;
        
    }

    .quote-container img{
        height: 35vh;
        box-shadow: 5px 5px 10px 2px #151515ea;

    }



    
}


/* Mobile view */
@media screen and (max-width: 500px) {


    #navigations{
        width: 35%;
    }
    /* HERO SECTION */
    .hero{
        min-height: 90vh;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background-image:url('../images/IMG-20230509-WA0002.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    
    }

    .donate{
        background-color: #f2f4cd;
        padding: .5rem .7rem;
        font-weight: 600;
        font-size: 1rem;
        color: #151515;
    }
    
    .donate:hover{
        background-color: #f2f4cdc7;
    }

    .fixed-socials{
        width: 15vw;
    }

    /* SERVICES */


    .service-schedule-head{
        margin-top: 2rem;
    
    }
    
    .service-schedule-head img{
        width: 12vh;
        height: 12vh;
    }
    
    .service-schedule-header{
        font-size: 2.5rem;
    
    }
    
    .service-schedule-p{
        color: #866e3e;
        font-weight: 600;
        margin: 0;
        font-size: .7rem;
    }

    .services{
        height: 135vh;
    }

    .service-schedule{
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1rem;

    }

    .sunday-schedule, .thursday-schedule, .wednesday-schedule{
        border-right: 0;
        border-bottom: 2px solid #866e3e;
    }

    .span-text-size{
        font-size: 2.3rem;
        font-weight: bolder;
        margin: 0;
    }
    
    .span-text-size-p{
        font-size: 1.3rem;
        font-family: calibri;
        padding-top: .5rem;
        margin: 0;
    }

    /* PASTORS QUOTE */
    .pastors-quote{
        height: 210vh;
    }

    .quotes-head{
        height: 5%;
        text-align: center;
    }

    .quotes-h{
        margin: 0;
        font-size: 2rem;
    }


    .quotes-wrapper{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1.5rem;
        margin: 0rem 0rem;
        
    }

    .quote-container img{
        width: 70%;
        height: 30vh;

    }

}
